{% extends 'base.html' %}

{% block title %}
  <title>Cardify App</title>
{% endblock %}

{% block content %}
    <h1>Cardify App</h1>

    <p>Cardify is a Flask-based web application designed to assist you in creating, managing, and utilizing flashcards for learning, memorization, planning tasks, etc.</p>

    <h2>Features</h2>
    <ul>
      <li>Create flashcards with custom fields: title, content, hint, notes, and image.</li>
      <li>Flashcards can be parents of other flashcards.</li>
      <li>Generate cards using the open-ai model "gpt-4o".</li>
      <li>Generate images for the cards using the open-ai model "dall-e-3".</li>
      <li>Create topics (topics can be parents of other topics).</li>
      <li>Create decks for each topic and add flashcards to them.</li>
      <li>Visualize topics, decks, and flashcards in a graphical way using the python package "pyvis".</li>
    </ul>
    
    <!--
    <div style="text-align: left;">
      <img src="{{ url_for('static', filename='icons/graph.png') }}" alt="Flashcard Icon" class="img-fluid" style="width: 200px; height: auto;">
    </div>
    -->
    
    <hr>
    <p>Developed by <a href="https://github.com/kamalsaleh" target="_blank">Kamal Saleh</a></p>
    <p>Explore the code behind it on <a href="https://github.com/kamalsaleh/cardify" target="_blank">Github: Cardify</a></p>
    
    <hr>
    <h4>Icon Attributions</h4>
    <ul>
      <li><a href="https://www.flaticon.com/free-icons/paper" title="paper icons" style="color: black;">Paper icons created by Paul J. - Flaticon</a></li>
      <li><a href="https://www.flaticon.com/free-icons/loupe" title="loupe icons" style="color: black;">Loupe icons created by Rooman12 - Flaticon</a></li>
      <li><a href="https://www.flaticon.com/free-icons/flash-card" title="flash card icons" target="_blank" style="color: black;">Flash card icons created by manshagraphics - Flaticon</a></li>
      <li><a href="https://www.freepik.com/icon/price-tag_12066608" target="_blank" style="color: black;">Icon by HJ Studio - Freepik</a></li>
      <li><a href="https://freesvg.org/green-pencil" target="_blank" style="color: black;">Icon by Freesvg</a></li>
    </ul>
    <br>
{% endblock %}
